src/odin/aws/infrastructure/stepfn/state_machine_fixed.asl.json
{
  "Comment": "Wildlife pipeline: budget-guarded manual workflow with weather enrichment",
  "StartAt": "GuardBudget",
  "States": {
    "GuardBudget": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-north-1:000000000000:function:guard-budget",
        "Payload.$": "$"
      },
      "Catch": [
        {
          "ErrorEquals": ["BudgetExceeded"],
          "ResultPath": "$.error",
          "Next": "FailBudget"
        }
      ],
      "Next": "Stage0Exif"
    },
    "FailBudget": {
      "Type": "Fail",
      "Error": "BudgetExceeded",
      "Cause": "Estimated cost exceeds budget"
    },
    "Stage0Exif": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-north-1:000000000000:function:stage0-exif",
        "Payload.$": "$"
      },
      "Next": "Stage2Post"
    },
    "Stage2Post": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-north-1:000000000000:function:stage2-post",
        "Payload.$": "$"
      },
      "Next": "WeatherEnrichment"
    },
    "WeatherEnrichment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-north-1:000000000000:function:weather-enrichment",
        "Payload.$": "$"
      },
      "Next": "WriteParquet"
    },
    "WriteParquet": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "OutputPath": "$.Payload",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:eu-north-1:000000000000:function:write-parquet",
        "Payload.$": "$"
      },
      "Next": "Success"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}
