src/odin/aws/infrastructure/cloudformation/template.yaml
AWSTemplateFormatVersion: '2010-09-09'
Description: 'Wildlife Pipeline Step Functions Workflow'

Parameters:
  BucketName:
    Type: String
    Description: S3 bucket name for pipeline data
  Environment:
    Type: String
    Default: dev
    AllowedValues: [dev, prod]
    Description: Environment name

Resources:
  # S3 Bucket reference (existing bucket)
  
  # KMS Key for encryption
  KMSKey:
    Type: AWS::KMS::Key
    Properties:
      Description: !Sub '${Environment} wildlife pipeline encryption key'
      KeyPolicy:
        Version: '2012-10-17'
        Statement:
          - Sid: Enable IAM User Permissions
            Effect: Allow
            Principal:
              AWS: !Sub 'arn:aws:iam::${AWS::AccountId}:root'
            Action: 'kms:*'
            Resource: '*'
          - Sid: Allow Lambda to use the key
            Effect: Allow
            Principal:
              AWS: !GetAtt LambdaExecutionRole.Arn
            Action:
              - kms:Decrypt
              - kms:GenerateDataKey
            Resource: '*'
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  KMSKeyAlias:
    Type: AWS::KMS::Alias
    Properties:
      AliasName: !Sub 'alias/${Environment}-wildlife-pipeline'
      TargetKeyId: !Ref KMSKey

  # Secrets Manager for API keys
  APISecrets:
    Type: AWS::SecretsManager::Secret
    Properties:
      Name: !Sub '${Environment}/wildlife/api-keys'
      Description: 'API keys for weather services and external APIs'
      SecretString: !Sub |
        {
          "yr_api_key": "your-yr-api-key-here",
          "met_api_key": "your-met-api-key-here",
          "weather_api_endpoint": "https://api.yr.no/weatherapi/2.0/complete"
        }
      KmsKeyId: !Ref KMSKey
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment
  
  # S3 Lifecycle Configuration for cost optimization
  S3LifecycleConfiguration:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Ref BucketName
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !Ref KMSKey
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      VersioningConfiguration:
        Status: Enabled
      LifecycleConfiguration:
        Rules:
          - Id: IntelligentTiering
            Status: Enabled
            Transitions:
              - StorageClass: STANDARD_IA
                TransitionInDays: 30
              - StorageClass: GLACIER
                TransitionInDays: 90
              - StorageClass: DEEP_ARCHIVE
                TransitionInDays: 365
          - Id: DeleteOldFrames
            Status: Enabled
            ExpirationInDays: 1095  # 3 years
            Filter:
              Prefix: "frames/"
          - Id: DeleteOldCrops
            Status: Enabled
            ExpirationInDays: 730   # 2 years
            Filter:
              Prefix: "crops/"
          - Id: DeleteOldVersions
            Status: Enabled
            NoncurrentVersionExpirationInDays: 30
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  # IAM Roles
  StepFunctionsExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${Environment}-wildlife-stepfn-exec'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: StepFunctionsLeastPrivilege
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              # Step Functions permissions
              - Effect: Allow
                Action:
                  - states:StartExecution
                  - states:StopExecution
                  - states:DescribeExecution
                  - states:DescribeStateMachine
                Resource: 
                  - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${Environment}-wildlife-pipeline'
                  - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:execution:${Environment}-wildlife-pipeline:*'
              # Lambda invoke permissions
              - Effect: Allow
                Action:
                  - lambda:InvokeFunction
                Resource:
                  - !GetAtt GuardBudgetLambda.Arn
                  - !GetAtt Stage0ExifLambda.Arn
                  - !GetAtt Stage2PostLambda.Arn
                  - !GetAtt WeatherEnrichmentLambda.Arn
                  - !GetAtt WriteParquetLambda.Arn
                  - !GetAtt CostEstimationLambda.Arn
              # Batch permissions
              - Effect: Allow
                Action:
                  - batch:SubmitJob
                  - batch:DescribeJobs
                  - batch:DescribeJobQueues
                  - batch:DescribeJobDefinitions
                Resource: '*'
              # S3 permissions (least privilege)
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${BucketName}'
                  - !Sub 'arn:aws:s3:::${BucketName}/*'
              # CloudWatch Logs
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub 'arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/stepfunctions/*'

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${Environment}-wildlife-lambda-exec'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: LambdaLeastPrivilege
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              # S3 permissions (least privilege)
              - Effect: Allow
                Action:
                  - s3:GetObject
                  - s3:PutObject
                  - s3:DeleteObject
                  - s3:ListBucket
                Resource:
                  - !Sub 'arn:aws:s3:::${BucketName}'
                  - !Sub 'arn:aws:s3:::${BucketName}/*'
              # CloudWatch Logs
              - Effect: Allow
                Action:
                  - logs:CreateLogGroup
                  - logs:CreateLogStream
                  - logs:PutLogEvents
                Resource: !Sub 'arn:aws:logs:${AWS::Region}:${AWS::AccountId}:log-group:/aws/lambda/*'
              # Secrets Manager for API keys
              - Effect: Allow
                Action:
                  - secretsmanager:GetSecretValue
                Resource: !Sub 'arn:aws:secretsmanager:${AWS::Region}:${AWS::AccountId}:secret:${Environment}/wildlife/api-keys*'
              # KMS for encryption
              - Effect: Allow
                Action:
                  - kms:Decrypt
                  - kms:GenerateDataKey
                Resource: !GetAtt KMSKey.Arn

  BatchServiceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${Environment}-wildlife-batch-service'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: batch.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSBatchServiceRole
      Policies:
        - PolicyName: BatchServiceAccess
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                  - batch:*
                  - ec2:*
                  - ecs:*
                  - iam:PassRole
                Resource: '*'

  BatchInstanceRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub '${Environment}-wildlife-batch-instance'
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Effect: Allow
            Principal:
              Service: ec2.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AmazonEC2ContainerServiceforEC2Role
        - arn:aws:iam::aws:policy/AmazonS3FullAccess

  BatchInstanceProfile:
    Type: AWS::IAM::InstanceProfile
    Properties:
      InstanceProfileName: !Sub '${Environment}-wildlife-batch-instance'
      Roles:
        - !Ref BatchInstanceRole

  # VPC Configuration
  VPC:
    Type: AWS::EC2::VPC
    Properties:
      CidrBlock: 10.0.0.0/16
      EnableDnsHostnames: true
      EnableDnsSupport: true
      Tags:
        - Key: Name
          Value: !Sub '${Environment}-wildlife-vpc'

  Subnet:
    Type: AWS::EC2::Subnet
    Properties:
      VpcId: !Ref VPC
      CidrBlock: 10.0.1.0/24
      AvailabilityZone: !Select [0, !GetAZs '']
      Tags:
        - Key: Name
          Value: !Sub '${Environment}-wildlife-subnet'

  SecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      GroupName: !Sub '${Environment}-wildlife-sg'
      GroupDescription: Security group for wildlife pipeline
      VpcId: !Ref VPC
      SecurityGroupIngress:
        # HTTPS for API calls
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: 'HTTPS for API calls'
        # HTTP for health checks
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 10.0.0.0/16
          Description: 'HTTP for health checks'
      SecurityGroupEgress:
        # HTTPS for external APIs
        - IpProtocol: tcp
          FromPort: 443
          ToPort: 443
          CidrIp: 0.0.0.0/0
          Description: 'HTTPS for external APIs'
        # HTTP for health checks
        - IpProtocol: tcp
          FromPort: 80
          ToPort: 80
          CidrIp: 0.0.0.0/0
          Description: 'HTTP for health checks'
        # DNS
        - IpProtocol: udp
          FromPort: 53
          ToPort: 53
          CidrIp: 0.0.0.0/0
          Description: 'DNS'
        # NTP
        - IpProtocol: udp
          FromPort: 123
          ToPort: 123
          CidrIp: 0.0.0.0/0
          Description: 'NTP'
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  # Network ACL for additional security
  NetworkACL:
    Type: AWS::EC2::NetworkAcl
    Properties:
      VpcId: !Ref VPC
      Tags:
        - Key: Name
          Value: !Sub '${Environment}-wildlife-nacl'
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  # Network ACL entries
  NetworkACLInboundHTTPS:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref NetworkACL
      RuleNumber: 100
      Protocol: 6
      RuleAction: allow
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: 443
        To: 443

  NetworkACLInboundHTTP:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref NetworkACL
      RuleNumber: 110
      Protocol: 6
      RuleAction: allow
      CidrBlock: 10.0.0.0/16
      PortRange:
        From: 80
        To: 80

  NetworkACLOutboundHTTPS:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref NetworkACL
      RuleNumber: 100
      Protocol: 6
      RuleAction: allow
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: 443
        To: 443
      Egress: true

  NetworkACLOutboundHTTP:
    Type: AWS::EC2::NetworkAclEntry
    Properties:
      NetworkAclId: !Ref NetworkACL
      RuleNumber: 110
      Protocol: 6
      RuleAction: allow
      CidrBlock: 0.0.0.0/0
      PortRange:
        From: 80
        To: 80
      Egress: true

  # Associate subnet with Network ACL
  SubnetNetworkACLAssociation:
    Type: AWS::EC2::SubnetNetworkAclAssociation
    Properties:
      SubnetId: !Ref Subnet
      NetworkAclId: !Ref NetworkACL

  # Batch Compute Environment - Cost Optimized
  BatchComputeEnvironment:
    Type: AWS::Batch::ComputeEnvironment
    Properties:
      ComputeEnvironmentName: !Sub '${Environment}-wildlife-compute'
      Type: MANAGED
      State: ENABLED
      ServiceRole: !GetAtt BatchServiceRole.Arn
      ComputeResources:
        Type: EC2
        MinvCpus: 0
        MaxvCpus: 100
        DesiredvCpus: 0
        # Cost optimization: Limited instance families for spot capacity
        InstanceTypes:
          - c5.large
          - c5.xlarge
          - c5.2xlarge
          - m5.large
          - m5.xlarge
        Subnets:
          - !Ref Subnet
        SecurityGroupIds:
          - !Ref SecurityGroup
        InstanceRole: !GetAtt BatchInstanceProfile.Arn
        # Spot instances for cost optimization (50% bid)
        BidPercentage: 50
        AllocationStrategy: SPOT_CAPACITY_OPTIMIZED
        Tags:
          Project: WildlifePipeline
          Environment: !Ref Environment
          CostOptimization: "spot-instances"

  # Batch Job Queue
  BatchJobQueue:
    Type: AWS::Batch::JobQueue
    Properties:
      JobQueueName: !Sub '${Environment}-wildlife-queue'
      State: ENABLED
      Priority: 1
      ComputeEnvironmentOrder:
        - Order: 1
          ComputeEnvironment: !Ref BatchComputeEnvironment

  # Batch Job Definition
  BatchJobDefinition:
    Type: AWS::Batch::JobDefinition
    Properties:
      JobDefinitionName: !Sub '${Environment}-wildlife-detector'
      Type: container
      ContainerProperties:
        Image: public.ecr.aws/docker/library/python:3.11-slim
        Vcpus: 2
        Memory: 4096
        JobRoleArn: !GetAtt BatchInstanceRole.Arn
        Environment:
          - Name: PYTHONPATH
            Value: /app/src
          - Name: AWS_DEFAULT_REGION
            Value: !Ref AWS::Region
        Command:
          - python
          - -c
          - |
            import boto3; import json; print("Wildlife processing job started"); print("Processing test images..."); print("Job completed successfully")
      RetryStrategy:
        Attempts: 1
      Timeout:
        AttemptDurationSeconds: 3600
      PlatformCapabilities:
        - EC2

  # CloudTrail for audit logging
  CloudTrail:
    Type: AWS::CloudTrail::Trail
    Properties:
      TrailName: !Sub '${Environment}-wildlife-audit-trail'
      S3BucketName: !Ref CloudTrailBucket
      S3KeyPrefix: 'audit-logs/'
      IncludeGlobalServiceEvents: true
      IsMultiRegionTrail: false
      IsLogging: true
      EventSelectors:
        - ReadWriteType: All
          IncludeManagementEvents: true
          DataResources:
            - Type: AWS::S3::Object
              Values:
                - !Sub 'arn:aws:s3:::${BucketName}/*'
            - Type: AWS::Lambda::Function
              Values:
                - !Sub 'arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:${Environment}-*'
            - Type: AWS::States::StateMachine
              Values:
                - !Sub 'arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:${Environment}-*'
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  CloudTrailBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub '${Environment}-wildlife-audit-logs-${AWS::AccountId}'
      BucketEncryption:
        ServerSideEncryptionConfiguration:
          - ServerSideEncryptionByDefault:
              SSEAlgorithm: aws:kms
              KMSMasterKeyID: !Ref KMSKey
      PublicAccessBlockConfiguration:
        BlockPublicAcls: true
        BlockPublicPolicy: true
        IgnorePublicAcls: true
        RestrictPublicBuckets: true
      LifecycleConfiguration:
        Rules:
          - Id: DeleteOldLogs
            Status: Enabled
            ExpirationInDays: 90
      Tags:
        - Key: Project
          Value: WildlifePipeline
        - Key: Environment
          Value: !Ref Environment

  # CloudWatch Log Groups for centralized logging
  StepFunctionsLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/stepfunctions/${Environment}-wildlife-pipeline'
      RetentionInDays: 30
      KmsKeyId: !Ref KMSKey

  LambdaLogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: !Sub '/aws/lambda/${Environment}-wildlife-*'
      RetentionInDays: 30
      KmsKeyId: !Ref KMSKey

  # Budget and Cost Monitoring
  BudgetAlarm:
    Type: AWS::CloudWatch::Alarm
    Properties:
      AlarmName: !Sub '${Environment}-wildlife-budget-alarm'
      AlarmDescription: 'Wildlife pipeline budget exceeded'
      MetricName: EstimatedCharges
      Namespace: AWS/Billing
      Statistic: Maximum
      Period: 86400  # 24 hours
      EvaluationPeriods: 1
      Threshold: 100  # $100 budget
      ComparisonOperator: GreaterThanThreshold
      Dimensions:
        - Name: Currency
          Value: USD
      AlarmActions:
        - !Ref BudgetSNSTopic

  BudgetSNSTopic:
    Type: AWS::SNS::Topic
    Properties:
      TopicName: !Sub '${Environment}-wildlife-budget-alerts'
      DisplayName: 'Wildlife Pipeline Budget Alerts'

  # Cost estimation Lambda
  CostEstimationLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-cost-estimation'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          import json
          import boto3
          
          def handler(event, context):
              # Calculate cost estimate: filecount × ms/frame × price
              file_count = event.get('file_count', 0)
              ms_per_frame = event.get('ms_per_frame', 100)  # Default 100ms
              price_per_hour = 0.10  # $0.10/hour for c5.large
              
              estimated_hours = (file_count * ms_per_frame) / (1000 * 60 * 60)
              estimated_cost = estimated_hours * price_per_hour
              
              return {
                  'file_count': file_count,
                  'estimated_hours': estimated_hours,
                  'estimated_cost': estimated_cost,
                  'cost_per_file': estimated_cost / file_count if file_count > 0 else 0
              }
      Timeout: 60

  # Lambda Functions
  GuardBudgetLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-guard-budget'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          def handler(event, context):
              return {"statusCode": 200, "body": "Guard Budget Lambda"}
      Timeout: 60
      KmsKeyArn: !GetAtt KMSKey.Arn
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          SECRETS_ARN: !Ref APISecrets
      LoggingConfig:
        LogFormat: JSON
        LogGroup: !Ref LambdaLogGroup

  Stage0ExifLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-stage0-exif'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          def handler(event, context):
              return {"statusCode": 200, "body": "Stage 0 EXIF Lambda"}
      Timeout: 300
      KmsKeyArn: !GetAtt KMSKey.Arn
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          SECRETS_ARN: !Ref APISecrets
      LoggingConfig:
        LogFormat: JSON
        LogGroup: !Ref LambdaLogGroup

  Stage2PostLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-stage2-post'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          def handler(event, context):
              return {"statusCode": 200, "body": "Stage 2 Post Lambda"}
      Timeout: 300
      KmsKeyArn: !GetAtt KMSKey.Arn
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          SECRETS_ARN: !Ref APISecrets
      LoggingConfig:
        LogFormat: JSON
        LogGroup: !Ref LambdaLogGroup

  WeatherEnrichmentLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-weather-enrichment'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          def handler(event, context):
              return {"statusCode": 200, "body": "Weather Enrichment Lambda"}
      Timeout: 300
      KmsKeyArn: !GetAtt KMSKey.Arn
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          SECRETS_ARN: !Ref APISecrets
      LoggingConfig:
        LogFormat: JSON
        LogGroup: !Ref LambdaLogGroup

  WriteParquetLambda:
    Type: AWS::Lambda::Function
    Properties:
      FunctionName: !Sub '${Environment}-write-parquet'
      Runtime: python3.11
      Role: !GetAtt LambdaExecutionRole.Arn
      Handler: index.handler
      Code:
        ZipFile: |
          def handler(event, context):
              return {"statusCode": 200, "body": "Write Parquet Lambda"}
      Timeout: 300
      KmsKeyArn: !GetAtt KMSKey.Arn
      Environment:
        Variables:
          ENVIRONMENT: !Ref Environment
          LOG_LEVEL: INFO
          SECRETS_ARN: !Ref APISecrets
      LoggingConfig:
        LogFormat: JSON
        LogGroup: !Ref LambdaLogGroup

  # Step Functions State Machine
  StateMachine:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      StateMachineName: !Sub '${Environment}-wildlife-pipeline'
      RoleArn: !GetAtt StepFunctionsExecutionRole.Arn
      DefinitionString: !Sub |
        {
          "Comment": "Wildlife pipeline: budget-guarded manual workflow with weather enrichment",
          "StartAt": "GuardBudget",
          "States": {
            "GuardBudget": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${GuardBudgetLambda}",
                "Payload.$": "$"
              },
              "Catch": [
                {
                  "ErrorEquals": ["BudgetExceeded"],
                  "ResultPath": "$.error",
                  "Next": "FailBudget"
                }
              ],
              "Next": "Stage0Exif"
            },
            "FailBudget": {
              "Type": "Fail",
              "Error": "BudgetExceeded",
              "Cause": "Estimated cost exceeds budget"
            },
            "Stage0Exif": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${Stage0ExifLambda}",
                "Payload.$": "$"
              },
              "Next": "CostEstimation"
            },
            "CostEstimation": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${CostEstimationLambda}",
                "Payload.$": "$"
              },
              "Next": "SubmitBatchStage1"
            },
            "SubmitBatchStage1": {
              "Type": "Task",
              "Resource": "arn:aws:states:::batch:submitJob.sync",
              "Parameters": {
                "JobName.$": "States.Format('munin-detector-{}', $.session_id)",
                "JobQueue": "${BatchJobQueue}",
                "JobDefinition": "${BatchJobDefinition}",
                "ContainerOverrides": {
                  "Environment": [
                    {
                      "Name": "INPUT_URI",
                      "Value.$": "$.stage0_output_uri"
                    },
                    {
                      "Name": "OUTPUT_URI",
                      "Value.$": "$.intermediate_uri"
                    }
                  ]
                },
                "RetryStrategy": {
                  "Attempts": 1
                },
                "Timeout": {
                  "AttemptDurationSeconds.$": "$.max_job_duration"
                }
              },
              "Next": "Stage2Post"
            },
            "Stage2Post": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${Stage2PostLambda}",
                "Payload.$": "$"
              },
              "Next": "WeatherEnrichment"
            },
            "WeatherEnrichment": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${WeatherEnrichmentLambda}",
                "Payload.$": "$"
              },
              "Next": "WriteParquet"
            },
            "WriteParquet": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "OutputPath": "$.Payload",
              "Parameters": {
                "FunctionName": "${WriteParquetLambda}",
                "Payload.$": "$"
              },
              "Next": "Success"
            },
            "Success": {
              "Type": "Succeed"
            }
          }
        }
      DefinitionSubstitutions:
        GuardBudgetLambda: !GetAtt GuardBudgetLambda.Arn
        Stage0ExifLambda: !GetAtt Stage0ExifLambda.Arn
        Stage2PostLambda: !GetAtt Stage2PostLambda.Arn
        WeatherEnrichmentLambda: !GetAtt WeatherEnrichmentLambda.Arn
        WriteParquetLambda: !GetAtt WriteParquetLambda.Arn
        CostEstimationLambda: !GetAtt CostEstimationLambda.Arn
        BatchJobQueue: !Ref BatchJobQueue
        BatchJobDefinition: !Ref BatchJobDefinition

Outputs:
  StateMachineArn:
    Description: Step Functions State Machine ARN
    Value: !Ref StateMachine
    Export:
      Name: !Sub '${Environment}-wildlife-state-machine'

  BucketName:
    Description: S3 bucket name
    Value: !Ref BucketName
    Export:
      Name: !Sub '${Environment}-wildlife-bucket'

  StateMachineName:
    Description: Step Functions State Machine name
    Value: !Ref StateMachine

